.navbar {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
.navbar-title {
  margin-left: 0.5rem;
  font-size: 2rem;
}
.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.bell-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #363636;
}
.nav-user {
  height: 80%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: 5px;
  padding: 1rem;
}
.user-avatar {
  height: 30px;
  border-radius: 20px;
  margin-right: 0.5rem;
}
.nav-user-menu {
  position: absolute;
  top: 100%;
  left: -20px;
  display: none;
  width: 120%;
  border-radius: 10px;
  pointer-events: none;
  color: #fff;
}
.nav-user-menu p {
  padding: 0.3rem;
  margin: 0.5rem 0;
}
.nav-user-menu p:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.nav-user-menu p:nth-child(1) {
  border-bottom: 1px solid #707070;
}
.nav-user-menu.active {
  display: block;
  pointer-events: all;
  background-color: #da0037;
  z-index: 2;
}

/* Media Queries */
@media screen and (max-width: 1280px) {
  .user-avatar {
    height: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .navbar {
    background: #da0037;
    border-radius: 0;
    color: #fff;
  }
  .user-avatar {
    height: 30px;
  }
  .nav-user-menu {
    top: 120%;
  }
}
@media screen and (max-width: 768px) {
  .navbar-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 540px) {
  .navbar-title {
    font-size: 1.2rem;
  }
  .user-avatar {
    height: 20px;
  }
  .nav-user-menu p {
    font-size: 0.8rem;
  }
}
