.user-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
  background: #da0037;
  color: #fff;
  margin: 0 0.2rem;
  font-size: 0.8rem;
}
.remove-user-btn {
  margin-left: 0.5rem;
  cursor: pointer;
}
