.user-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  border-radius: 10px;
  padding: 0 0.5rem;
  background: #0575e6;
  color: #fff;
  margin: 0 0.2rem;
}
.remove-user-btn {
  margin-left: 0.5rem;
  cursor: pointer;
}
