.user-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: #fff;
  margin: 0 0.2rem;
}
.remove-user-btn {
  margin-left: 0.5rem;
  cursor: pointer;
}
