.searched-user {
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #707070;
  margin: 0.5rem 0;
  cursor: pointer;
}
.searched-user-info {
  display: flex;
  flex-direction: column;
}
.searched-user-img {
  height: 45px;
  border-radius: 10px;
}
.searched-user-name,
.searched-user-email {
  font-weight: 700;
  font-size: 1rem;
}
.searched-user-error {
  color: red;
  font-size: 0.8rem;
  width: 50%;
  text-align: center;
  font-weight: 700;
}

/* Media Queries */
@media screen and (max-width: 1280px) {
  .searched-user {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .searched-user-img {
    height: 30px;
    margin: 0.2rem;
  }
  .searched-user-email {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .searched-user {
    height: 70px;
    width: 80%;
    flex-direction: row;
  }
  .searched-user-img {
    height: 45px;
    margin: 0rem;
  }
  .searched-user-name {
    margin-top: 0.5rem;
  }
  .searched-user-email {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 540px) {
  .searched-user {
    width: 70%;
  }
  .searched-user-img {
    height: 30px;
  }
  .searched-user-name,
  .searched-user-email {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .searched-user {
    width: 90%;
  }
}
