.new-group-modal-container.modal-active {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-group-modal-container {
  display: none;
}
.new-group-modal {
  min-height: 400px;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #363636;
}
.modal-header {
  font-size: 1.8rem;
  color: #363636;
  margin-bottom: 1rem;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  width: 90%;
}
.modal-input {
  width: 100%;
  padding: 0.8rem 0 0.8rem 5px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #707070;
}
.user-badges {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.modal-submit-btn {
  width: 90%;
  padding: 1rem 0 1rem 5px;
  border-radius: 10px;
  border: none;
  background: #0575e6;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  color: #f2f2f2;
}
.modal-submit-btn:hover {
  background: #026cd6;
}
