.single-chats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.single-chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.chat-title {
  font-size: 1.5rem;
  font-weight: bold;
  align-self: start;
  margin-left: 0.5rem;
}
.update-gc-btn {
  margin-right: 0.5rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #707070;
  background-color: #fff;
  cursor: pointer;
}
.messages-container {
  display: flex;
  width: 98%;
  flex: 1;
  background-color: #000;
  margin: 0.5rem 0;
  border-radius: 10px;
}
