.update-gc-modal-container {
  display: none;
}
.update-gc-modal-container.modal-active {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-group-modal {
  min-height: 400px;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.update-modal-header {
  font-size: 1.8rem;
}

.gc-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  width: 100%;
}
.gc-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: relative;
}
.gc-input-container:nth-child(2) {
  position: relative;
}
.rename-gc-input {
  flex: 1;
  padding: 0.8rem 0 0.8rem 5px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #707070;
  margin-right: 0.5rem;
}
.update-group-btn {
  padding: 0.8rem;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.update-group-btn:hover {
  background: linear-gradient(to left, #8e2de2, #4a00e0);
}
.leave-gc-btn {
  width: 90%;
  padding: 1rem 0 1rem 5px;
  border-radius: 10px;
  border: none;
  background: red;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}
.add-to-gc-error,
.rename-gc-error {
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%);
  color: red;
  font-size: 0.8rem;
  font-weight: 700;
}
