.update-gc-modal-container {
  display: none;
}
.update-gc-modal-container.modal-active {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-group-modal {
  min-height: 400px;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.update-modal-header {
  font-size: 1.8rem;
  margin: 1rem 0;
  color: #da0037;
}

.gc-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 100%;
}
.gc-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: relative;
}
.rename-gc-input {
  flex: 1;
  padding: 0.8rem 0 0.8rem 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #444444;
  margin: 0.8rem 0.5rem 0.8rem 0;
  transition: border-bottom 0.2s ease-in-out;
}
.active-input {
  border-bottom: 1px solid #da0037;
  transition: border-bottom 0.2s ease-in-out;
}
.update-group-btn {
  padding: 0.8rem;
  border: none;
  background: #da0037;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.update-group-btn:hover {
  background: #e7003a;
}
.leave-gc-btn {
  width: 90%;
  padding: 1rem 0 1rem 5px;
  border-radius: 10px;
  border: none;
  background: red;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  margin: 1rem 0;
}
.rename-gc-error,
.add-gc-error {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  color: red;
  font-size: 0.8rem;
  font-weight: 700;
}
/* Media Queries */
@media screen and (max-width: 540px) {
  .update-group-modal {
    min-height: 300px;
    width: 400px;
  }
  .update-modal-header {
    font-size: 1.3rem;
  }
  .leave-gc-btn {
    width: 90%;
    padding: 1rem 0 1rem 5px;
    border-radius: 10px;
    border: none;
    background: red;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
  }
  .add-gc-error,
  .rename-gc-error {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 500px) {
  .update-group-modal {
    width: 95%;
  }
  .update-modal-header {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 360px) {
  .rename-gc-input {
    padding: 0.6rem 0 0.6rem 5px;
  }
  .update-group-btn {
    padding: 0.6rem;
  }
}
@media screen and (max-width: 320px) {
  .leave-gc-btn {
    padding: 0.8rem 0 0.8rem 5px;
  }
  .add-gc-error,
  .rename-gc-error {
    font-size: 0.5rem;
  }
}
