.search-right {
  height: calc(90vh - 10vh);
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin-right: 0.1rem;
  border-radius: 10px;
}
.search-input-content {
  position: relative;
  margin: 1rem 0;
}
.search-input {
  padding: 0.5rem 3rem 0.5rem 2rem;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px #707070;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0, -50%);
}
.search-btn {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #707070;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  cursor: pointer;
  color: #fff;
}
.search-btn:hover {
  background: linear-gradient(to left, #8e2de2, #4a00e0);
}
.search-error {
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  left: 45%;
  transform: translateX(-45%);
  color: red;
  font-weight: 700;
}
