.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  font-family: "Roboto", sans-serif;
  color: #707070;
}
.form-content {
  width: 90%;
}
.input-container {
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.2rem 0;
  position: relative;
}
.input-container input {
  width: 100%;
  padding: 0.8rem 0 0.8rem 5px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #707070;
}
.pw-input,
.confirm-input {
  position: relative;
}
.show-pw,
.show-confirm {
  position: absolute;
  padding: 0.5rem;
  right: 0px;
  top: 22px;
  cursor: pointer;
}
.error-text {
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 0.8rem;
  color: red;
}
.submit-btn {
  width: 100%;
  padding: 1rem 0 1rem 5px;
  border-radius: 10px;
  border: none;
  background: #0575e6;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  color: #f2f2f2;
}
.submit-btn:hover {
  background: #026cd6;
}
.guest-btn {
  background: #cecdcd;
  color: #000;
}
.guest-btn:hover {
  background: #0575e6;
  color: #fff;
}
/* Errors */
.input-error {
  font-size: 0.8rem;
  color: red;
}
